# ======================
# Python
# ======================
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ======================
# Node
# ======================
node_modules/

# ======================
# IDE
# ======================
.idea/
.vscode/

# ======================
# OS
# ======================
.DS_Store

# ======================
# Environment files
# ======================
.env
